.nav_items {
  display: flex;
  gap: 25px;
  height: 100%;
  align-items: center;
}
.navbar_box {
  position: fixed;
  width: 100%;
  top: 0px;
  background: var(--color-bg);

  background-image: url(../../assets/bg-texture.png);
  z-index: 20;
}
.mobile_nav {
  display: none;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 640px) {
  .nav_items {
    display: none;
  }
  .mobile_nav {
    display: block;
  }
}
