.git{
    display: flex;
    justify-content: center;
}
.container section{
margin: auto;
margin-top: 79px;
}
.git-status{
        width: 35%;
        margin: auto;
        margin-top: 24px;
}

@media screen and (max-width: 1024px) {
    .git-status{
        width: 80%;
    }

  }
  /* media queries small screen */
  @media screen and (max-width: 600px) {
.git-status{
    width: 80%;
}

  }
  