.home_box {
  display: flex;
  justify-content: center;
  width: 75%;
  margin: auto;
  margin-top: 60px;
  padding-top: 40px;
  gap: 15px;
}
.home_box > div {
  width: 46%;
}
.home_box_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home_box_img {
  border-radius: 10px;
}
.scroll__down {
  position: fixed;
  right: 2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  color: var(--color-primary);
  font-size: 0.9rem;
}
.scroll__down:hover {
  color: var(--color-primary-variant);
}

@media all and (min-width: 640px) and (max-width: 1024px) {
  .home_box {
    width: 90%;
  }
}

@media all and (min-width: 324px) and (max-width: 640px) {
  .home_box {
    flex-direction: column-reverse;
    width: 90%;
  }

  .home_box > div {
    width: 100%;
  }
  .home_box_img > img {
    width: 100%;
  }
  .scroll__down {
    display: none;
  }
}
